include README.rst
include CHANGES.rst
include setup.cfg
include domehunter/tests/coveragerc

recursive-include domehunter *.pyx *.c *.pxd *.yml *.proto
recursive-include docs *
recursive-include licenses *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
